div {
  background-color: tomato;
  padding: 20px;
  margin-top: 15px;
}
ul {
  color: blueviolet;
}
.lorem {
  background-color: aquamarine;
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}
